header .top-header {
  border-bottom: 1px solid #ecf0f1;
}

header div.hotline {
  padding: 10px 0 10px 0;
}

header div.hotline span.icoin {
  text-align: center;
  /* padding: 10px; */
  border: 1px solid;
  border-radius: 50%;
  width: 27px;
  height: 27px;
  display: inline-block;
}

header div.hotline span.icoin i {
  margin-top: 5px;
}

header div.hotline span.gm {
  margin-left: 1em;
}

header .get-link {
  padding: 10px 0 10px 0;
}

header .get-link ul li {
  list-style: none;
  display: inline-block;
}

header .get-link ul li a {
  margin: 0 5px 0 5px;
  color: black;
}

header .get-link ul li table {
  margin-top: -1em !important;
  position: absolute;
  margin-left: 1em;
}

header .get-link ul li table .dropdown-menu {
  width: 100% !important;
  min-width: 1px !important;
  -webkit-animation-name: langua;
          animation-name: langua;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-transform: rotate3d(1, 0, 0, -90deg);
          transform: rotate3d(1, 0, 0, -90deg);
  -webkit-transform-origin: 0 0 0;
          transform-origin: 0 0 0;
}

@keyframes langua {
  0% {
    -webkit-transform: rotate3d(1, 0, 0, -90deg);
            transform: rotate3d(1, 0, 0, -90deg);
  }
  100% {
    -webkit-transform: rotate3d(0, 0, 0, -90deg);
            transform: rotate3d(0, 0, 0, -90deg);
  }
}

@-webkit-keyframes langua {
  0% {
    -webkit-transform: rotate3d(1, 0, 0, -90deg);
            transform: rotate3d(1, 0, 0, -90deg);
  }
  100% {
    -webkit-transform: rotate3d(0, 0, 0, -90deg);
            transform: rotate3d(0, 0, 0, -90deg);
  }
}

header .get-link ul li table tr {
  padding-left: 10px !important;
}

header .bottom-header {
  margin-top: 2em;
}

header .bottom-header .logo-top {
  width: 70%;
}

header .bottom-header .logo-top img {
  width: 100%;
  height: auto;
}

header .bottom-header nav li > a:focus, header .bottom-header nav li > a:hover {
  text-decoration: none;
  background-color: white;
  border-bottom: 2px solid #f26426;
}

header .bottom-header nav li.active > a {
  color: #f26426;
  text-decoration: none;
  background-color: white;
  border-bottom: 2px solid #f26426;
}

header .bottom-header nav button {
  background-color: black;
}

header .bottom-header nav button i {
  color: white;
}

header .bottom-header nav ul {
  float: right;
  padding: 0px;
}

header .bottom-header nav ul li {
  padding: 0.5em 0 0s 0.5em 0;
  margin-left: 0.3em;
}

header .bottom-header nav ul li a {
  color: #34383D;
}

header .bottom-header nav ul li a:hover {
  color: #f26426;
}

header .bottom-header nav ul li ul li {
  padding: 0.5em 3px 0.5em 3px;
}

header .bottom-header nav ul li ul li > a:focus, header .bottom-header nav ul li ul li > a:hover {
  text-decoration: none;
  background-color: white;
  border: 0px !important;
}

header .bottom-header nav ul li.search input {
  float: left;
}

header .bottom-header nav ul li.search i {
  padding-left: 5px;
  position: absolute;
  top: 30%;
  right: 10px;
  border-left: 1px solid black;
}

main .carousel .carousel-control a.carousel-control a {
  position: absolute;
}

main .carousel .item .carousel-caption h2 {
  margin-top: -7em;
  margin-left: -3em;
}

main .carousel .item .carousel-caption span {
  font-size: 16px;
}

main .item2 {
  margin-top: 3em;
  text-align: center;
}

main .item2 h3 {
  margin-bottom: 1em;
}

main .item2 ul {
  margin-bottom: 2em;
  margin-top: 2em;
  border: 0px !important;
}

main .item2 ul li {
  float: unset !important;
  display: inline-block;
}

main .item2 ul li a {
  color: #555;
  border: 1px solid;
  padding: 0px;
  border-radius: 15px;
  padding: 1em 1em;
  font-size: 15px;
}

main .item2 ul li.active > a, main .item2 ul li.active > a:focus, main .item2 ul li.active > a:hover {
  color: white;
  cursor: default;
  background-color: #216bb4;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}

main .item2 ul li > a:hover {
  color: white;
  cursor: default;
  background-color: #216bb4;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}

main .item2 .tab-content .content {
  padding: 10px;
}

main .item2 .tab-content .content p {
  font-size: 15px;
  text-align: left;
}

main .item2 .tab-content .content p span {
  color: #f26426;
  font-weight: 600;
}

main .item3 {
  padding: 2em 0 2em 0;
  margin-top: 2em;
  background-image: url("./../img/image_bg_1.png");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

main .item3 .item {
  margin-top: 3em;
}

main .item3 .item .icoin span {
  width: 60px;
  height: 60px;
  display: block;
  border: 1px solid #f26426;
  border-radius: 50%;
  position: relative;
  left: 43%;
}

main .item3 .item .icoin span i {
  font-size: 33px;
  color: #f26426;
  position: relative;
  top: 13px;
  left: 2px;
}

main .item3 .item h4 {
  margin-top: 18px;
}

main .item3 .item button {
  margin-top: 10px;
  padding: 10px 2em;
  border: 1px solid;
  border-radius: 5px;
  background-color: #bdc3c7;
}

main .item3 .item button:hover {
  border: 1px solid #f26426;
  color: #f26426;
}

main section.item4 {
  padding-bottom: 2em;
  background-image: url("./../img/home_img_19.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -1.3em;
  text-align: center;
  padding-top: 2em;
}

main section.item4 h3 {
  color: white;
  margin-top: 1em;
}

main section.item4 h3.sdt {
  color: #F26426;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 25px;
}

main section.item5 {
  text-align: center;
  padding-top: 1em;
}

main section.item5 .item {
  margin-top: 2em;
}

main section.item5 .item .overlay {
  opacity: 0;
  z-index: 3;
  position: absolute;
  background: rgba(0, 0, 0, 0.75);
  text-align: center;
  /* padding: 45px 0 66px 0; */
  width: 92%;
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  height: 16em;
  top: 2em;
}

main section.item5 .item .overlay a {
  color: white;
}

main section.item5 .item .overlay a:hover {
  color: #F26426;
}

main section.item5 .item .overlay a.heade, main section.item5 .item .overlay a.pl {
  display: block;
}

main section.item5 .item .overlay a.heade {
  font-size: 24px;
  margin-top: 2em;
}

main section.item5 .item .overlay a.pl {
  margin-top: 1em;
  font-size: 17px;
}

main section.item5 .item .overlay a.icoin {
  font-size: 20px;
  margin-right: 1em;
  margin-top: 10px;
  border: 1px solid white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: inline-block;
  margin-left: 1em;
}

main section.item5 .item .overlay a.icoin i {
  font-size: 30px;
  position: relative;
  top: 24%;
}

main section.item5 .item .overlay:hover {
  opacity: 1;
}

main section.item6 {
  background-image: url("./../img/image_bg_2.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  margin-top: 3em;
}

main section.item6 .item1 {
  text-align: center;
}

main section.item6 .item1 h3 {
  margin-top: 2em;
  color: white;
}

main section.item6 .item1 h5 {
  color: white;
  margin-top: 1em;
}

main section.item6 .item1 .item {
  margin-top: 2em;
  text-align: left;
  background-color: #ecf0f1;
  padding: 2em;
  border-radius: 7px;
  overflow: auto;
}

main section.item6 .item1 .item p {
  color: black;
  font-size: 15px;
}

main section.item6 .owl-carousel .owl-nav button.owl-next, main section.item6 .owl-carousel .owl-nav button.owl-prev, main section.item6 .owl-carousel button.owl-dot {
  color: white;
  font-size: 40px;
  margin-left: 0.3em;
  position: relative;
  right: -6em;
  outline: none;
}

main section.item6 .item2 {
  text-align: center;
}

main section.item6 .item2 h3 {
  color: white;
}

main section.item6 .item2 h5 {
  color: white;
}

main section.item6 .item2 .item {
  margin-top: 2em;
}

main section.item6 .item2 .item .item11 {
  border-radius: 5px;
}

main section.item6 .item2 .item .item11 .overlay {
  opacity: 0.5;
  z-index: 3;
  position: absolute;
  background: white;
  text-align: center;
  /* padding: 45px 0 66px 0; */
  width: 84%;
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  height: 6em;
  top: 2em;
}

main section.item6 .item2 .item .item11 .overlay:hover {
  opacity: 0;
}

main section.section7 {
  padding-top: 3em;
}

main section.section7 .item-left .item-tq {
  margin-top: 20px;
}

main section.section7 .item-left .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main section.section7 .item-left .item .item-img {
  width: 40%;
}

main section.section7 .item-left .item .item-img img {
  width: 100%;
  height: auto;
}

main section.section7 .item-left .item .item-nd {
  margin-left: 1em;
}

main section.section7 .item-left .item .item-nd a:hover {
  text-decoration: none;
}

main section.section7 .item-left .item .item-nd h4.cd:hover {
  color: #F26426;
  text-decoration: none;
}

main section.section7 .item-left .item .item-nd h4.cd {
  color: #34383d;
}

main section.section7 .item-left .item .item-nd h4.nd {
  color: #606366;
}

main section.section7 .item-left .item-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main section.section7 .item-left .item-bottom h5 {
  margin-left: 10px;
  color: #606366;
}

footer {
  padding: 2em 0em;
}

footer hr {
  border: 1.3px solid #F26426;
}

footer .item h3 {
  text-transform: uppercase;
  color: #34383D;
  font-size: 17px;
}

footer .item ul {
  padding: 0px;
}

footer .item ul li {
  list-style: none;
  margin-top: 7px;
  text-transform: uppercase;
  font-weight: 400;
}

footer .item h4 {
  font-size: 14px;
  color: #34383d;
}
/*# sourceMappingURL=trangchu.css.map */